@import url("normalize.css");
*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --blue: #0a66c2;
  --bg: #f3f2ef;
  --white: #ffffff;
  --text: #1d2226;
  --border: #d9d9d9;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 599px) {
  label {
    display: block;
    width: auto;
  }
  .input-wrapper {
    width: 100%;
    max-width: 250px;
  }
  .input-wrapper input {
    width: 100%;
  }
  .tooltiptext {
    left: auto;
    right: 25px;
  }
}
@media (min-width: 600px) {
  body {
    font-size: 17px;
  }
}
@media (min-width: 900px) {
  header {
    padding: 2rem;
  }
}